name: Build on PR

on:
    pull_request:
        branches:
            - main
            - dev

jobs:
    build:
        name: Build the Project
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: Use Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: '20'
            
            - name: Install Dependencies
              run: npm ci
            
            - name: Run ESLint
              run: npm run lint

            - name: Check Prettier Formatting
              run: npm run format:check
                
            - name: Run Build
              run: npm run build